
<div class="homeheadertop">
    <div class="top-bar-left">
        <ul class="menu">
            <!--<img ui-sref="home" class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt="">-->
            <!--<img ui-sref="home" class="runIcon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glossy-black-icons-sports-hobbies/044537-glossy-black-icon-sports-hobbies-people-man-runner.png" alt="">-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="join"><a ui-sref="login">Join/Login</a></li>
            <li class="help"><a ui-sref="login">Help</a></li>
            <li class="cart"><a ui-sref="customerorders"><i class="fa fa-shopping-cart"></i>&nbsp;</a></li>
        </ul>
    </div>
</div>


<div class="flexContainer">
    <ul class="menu homeNavBar flexContainer">

        <img ui-sref="home" class="runIcon"
             src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glossy-black-icons-sports-hobbies/044537-glossy-black-icon-sports-hobbies-people-man-runner.png"
             alt="">

        <div class=" flexRow">
            <li><a ui-sref="selectProduct">MEN</a></li> &nbsp;&nbsp;&nbsp;
            <li><a ui-sref="selectProduct">WOMEN</a></li>&nbsp;&nbsp;&nbsp;
            <li ng-show="adminPage"><a ui-sref="admin">ADMIN</a></li>
        </div>


        <ul class="menu homenavbar">
        <li class="searchfield"><a href=""><input type="text" placeholder="search"></a></li>
        </ul>
    </ul>

</div>







